{% extends 'mainWeb/base.html' %}
{% load staticfiles %}
{% block head%}

{% endblock %}
{% block content %}
<div>
  <table class="board_list">
    <colgroup>
      <col style="8%">
      <col style="48%">
      <col style="15%">
      <col style="15%">
      <col style="14%">
    </colgroup>
    <thead>
      <th scope="col">No</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">등록일</th>
      <th scope="col">조회</th>
    </thead>

  </table>
</div>

{% endblock %}
