{% extends 'mainWeb/base.html' %}
{% load staticfiles %}
{% block head%}
<style>
div.info{
  flex:0 0 50%;
  padding: 1.2rem;
  height:25%;
  border-bottom: 3px solid #000;
  width: 50%;
  float: left;
}
.info ul{
  text-align: right;
  padding: 1.667rem 0;
  padding-right: 15rem;
}
.info ul li{
  display: inline-block;
}
.info ul li a{
  padding: 1.667rem;
  font-size: 1.2rem;
}
.info ul li a:hover{
  text-decoration: none;
  font-weight: bold;
}
a.link{
    text-align: center;
}
.pf_photo img{
  width: 10rem;
  height: 12.5rem;
  display: block;
  margin: auto;
}
.info h3{
  padding-top: 1rem;
  padding-right: 17rem;
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
}
.info p{
  text-align: right;
  font-size: 1.2rem;
  padding: 0.417rem 0;
  padding-right: 14rem;
}
.pf_photo{
  float: left;
  width: 50%;
  height: 25%;
  padding-top: 1.5rem;
  text-align: center;
  border-bottom: 3px solid #000;
}
.board_list{
  width: 100%;
  position: relative;
  /*padding-top:10px;*/
  /*padding-left: 2rem;
  padding-right: 2rem;*/
}

.board_list ul {
    clear: left;
    margin: 0;
    padding :0;
    list-style-type: none;
    }


.board_list ul.title li {
      font-weight:bold;
      text-align:center;
      background-color: #ccc;
      color: #fff;

}

.board_list ul li {
    float: left;
    margin: 0;
    padding: 2px 1px;
    /*border-bottom: 1px solid #000;*/
    border-left: 1px solid #fff;
}

.board_list ul .col1 {
  padding-top: 10px;
    width: 8%;
    height: 40px;
    text-align: center;
}

.board_list ul .col2 {
  padding-top: 10px;
  width: 48%;
  height: 40px;
  padding-left: 2px;
}

.board_list ul .col3 {
  padding-top: 10px;
  width: 15%;
  height: 40px;
  text-align: center;
}

.board_list ul .col4 {
  padding-top: 10px;
  width: 15%;
  height: 40px;
  text-align: center;
}

.board_list ul .col5 {
  padding-top: 10px;
  width: 14%;
  height: 40px;
  border-right: 1px solid #fff;
  text-align: center;
}
</style>

{% endblock %}
{% block content %}
<div class="pf_photo">
  <img src="{% static 'img/Professor.jpg' %}" alt="#">
</div>
<div class="info">
        <h3>이 상 준 교 수 님</h3><br>
        <p>지능형시스템 연구실(D425)</p>
        <ul>
          <li><a class="link" href="#">꿀팁</a></li>
          <li><a class="link" href="#">레포트</a></li>
        </ul>
</div>
<div class="board_list">
  <ul class="title">
    <li class="col1">No</li>
    <li class="col2">제목</li>
    <li class="col3">작성자</li>
    <li class="col4">등록일</li>
    <li class="col5">조회</li>
  </ul>
</div>

{% endblock %}
