{% extends 'mainWeb/base.html' %}

{% block head %}
    <style>
        div.margin{
            height: 10rem;
        }
        table{
            margin-top: 20%;
            text-align: left;
            line-height: 1.5;
            margin: 20px 10px;
        }
        table thead{
            background-color: #2457BD;
        }
        table th.number {
        color:#fff;
        width: 10%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
        }
        table th.title {
        color: #fff;
        width: 60%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
        }
        table th.name {
        color: #fff;
        width: 10%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
        }
        table th.hit {
        color: #fff;
        width: 10%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
        }
        table th.date {
        color: #fff;
        width: 10%;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border: 1px solid #ccc;
        }

        table td {
            width: 350px;
            padding: 10px;
            vertical-align: top;
            border: 1px solid #ccc;
         }
       .myButton {
            -moz-box-shadow:inset 0px 0px 0px 0px #54a3f7;
            -webkit-box-shadow:inset 0px 0px 0px 0px #54a3f7;
            box-shadow:inset 0px 0px 0px 0px #54a3f7;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
            background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
            background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
            background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
            background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
            background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
            background-color:#007dc1;
            -moz-border-radius:9px;
            -webkit-border-radius:9px;
            border-radius:9px;
            border:1px solid #124d77;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Verdana;
            font-size:14px;
            padding:8px 18px;
            text-decoration:none;
            text-shadow:0px 0px 0px #154682;
            float: right;
           margin-right: 10px;
        }
        .myButton:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
            background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
            background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
            background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
            background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
            background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
            background-color:#0061a7;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }

        div.pagination{
          text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="margin">

    </div>
    {% block category %}

    {% endblock %}
    <div class="main-table">
      <div class="table-head">
        <ul>
          <li class="number">No</li>
          <li class="title">제목</li>
          <li class="name">작성자</li>
          <li class="hit">hit</li>
          <li class="date">날짜</li>
        </ul>
      </div>


      <div class="table-body">
        {% for board in boards %}
        <ul>
          <a href="#">
            <li>{{ board.id }}</li>
            <li>{{ board.title }}</li>
            <li>{{ board.makerUser }}</li>
            <li>{{ board.hit_count }}</li>
            <li>{{ board.created_date }}</li>
          </a>
        </ul>
        {% endfor %}
      </div>
    </div>

    <a href="{% url 'unknown_post_create' %}" class="myButton">글쓰기</a>

    <div class="pagination">
    <span class="step-links">
        {% if boards.has_previous %}
            <a href="?page={{ boards.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ boards.number }} of {{ boards.paginator.num_pages }}.
        </span>

        {% if boards.has_next %}
            <a href="?page={{ boards.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>


{% endblock %}
