{% load staticfiles %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/base.css' %}?ver=1">
  {% block head %}
  {% endblock %}
  <title>좋은425</title>
</head>
<body>
<div id="wrap">
  <aside>
      <!--left-->
      <div id="title">
          <h1><a href="{%url 'index'%}">좋은425</a></h1>
      </div>
      <div id="loginForm">
          {% if user.is_authenticated %}
          <dl class="user_info">
              <dd class="user_photo">
                      <span>
                          <!--if !empty photo-->
                          <img src="">
                          <!--endif-->
                      </span>
              </dd>

              <dd>
                  <dl>
                      <dt>
                          <!--이름 학번-->
                      </dt>
                      <dd>
                        <a href="#">쪽지</a>
                      </dd>
                      <dd>
                          <input type="submit" value="마이페이지" class="mypage"><!--btns-->
                      </dd>
                      <dd>
                        <a href="{% url 'logout' %}">로그아웃</a>
                      </dd>
                  </dl>
              </dd>
          </dl>
          {% else %}
          <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <dl>
                  <dd>
                      <span>ID :</span>
                      <input type="text" required id="username_id" name="username" value="">
                  </dd>
                  <dd>
                      <span>PW :</span>
                      <input type="password" id="id_password" required name="password" value="">
                  </dd>
                  <dd>
                    <button type="submit" class="btn_login">Login</button>
                  </dd>
                  <dd>
                      <a href="{% url 'signup' %}">회원가입</a> | <a href="#">아이디/비밀번호찾기</a>
                  </dd>
              </dl>
          </form>

          {% endif %}
      </div>
      <nav>
          <!--menu-->
          <dl>
              <dt class="submenu"><a href="{% url 'Profe_intro' %}">교수님 소개</a></dt>
              <dt class="submenu"><a href="{% url 'Lab_intro' %}">연구실 소개</a>
                  <dd><a href="#">연구원 소개</a></dd>
              </dt>
              <dt class="submenu"><a href="{% url 'Profe_info' %}">정보 나눔터</a>
                      <!--submenu-->
                  <dd><a href="#">이상준교수님</a></dd>
                  <dd><a href="#">김장형교수님</a></dd>
                  <dd><a href="#">안기중교수님</a></dd>
                  <dd><a href="#">변상용교수님</a></dd>
                  <dd><a href="#">곽호영교수님</a></dd>
                  <dd><a href="#">송왕철교수님</a></dd>
                  <dd><a href="#">변영철교수님</a></dd>
                  <dd><a href="#">김도현교수님</a></dd>
              </dt>
              <dt class="submenu"><a href="{% url 'Unknown_post'%}">익명 게시판</a></dt>
          </dl>
      </nav>
  </aside>

  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
</div>
</body>
</html>
