{% load staticfiles %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/base.css' %}?ver=1">
  {% block head %}
  {% endblock %}
  <title>좋은425</title>
</head>
<body>
<div id="wrap">
  <aside>
      <!--left-->
      <div id="title">
          <h1><a href="{%url 'index'%}">좋은425</a></h1>
      </div>
      <div id="loginForm">
          {% if user.is_authenticated %}
          <dl class="user_info">
              <dd class="user_photo">
                      <span>
                          <!--if !empty photo-->
                          <img src="{{ user.userImg.url }}">
                          <!--endif-->
                      </span>
              </dd>

              <dd>
                  <dl>
                      <dt>
                          {{ user.user_name}}
                          {{ user.email}}
                      </dt>
                      <dd>
                        <a href="{% url 'message' %}"onclick="window.open(this.href,'','width=510, height=620, scrollbars=yes'); return false;" href="{% url 'message' %}">쪽지</a>
                      </dd>
                      <dd>
                        <a href="{% url 'mypage' %}">
                          <input type="submit" value="마이페이지" class="mypage"><!--btns-->
                        </a>
                      </dd>
                      <dd>
                        <a href="{% url 'logout' %}">로그아웃</a>
                      </dd>
                  </dl>
              </dd>
          </dl>
          {% else %}
          <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <dl>
                  <dd>
                      <span>ID :</span>
                      <input type="text" required id="username_id" name="username" value="">
                  </dd>
                  <dd>
                      <span>PW :</span>
                      <input type="password" id="id_password" required name="password" value="">
                  </dd>
                  <dd>
                    <button type="submit" class="btn_login">Login</button>
                  </dd>
                  <dd>
                      <a href="{% url 'signup' %}">회원가입</a> | <a href="#">아이디/비밀번호찾기</a>
                  </dd>
              </dl>
          </form>

          {% endif %}
      </div>
      <nav>
          <!--menu-->
          <ul>
              <li class="submenu"><a href="{% url 'Profe_intro' %}">교수님 소개</a></li>
              <li class="submenu lab_info"><a href="{% url 'Lab_intro' %}">연구실 소개</a>
                <ul class="test">
                  <li class="submenu-item lab_info_submenu-item"><a href="{% url 'lab_member' %}">연구원 소개</a></li>
                  </ul>
              </li>
              <li class="submenu info_share"><a href="{% url 'Profe_info' %}">정보 나눔터</a>

                <ul class="test">    <!--submenu-->
                  <li class="submenu-item info_share_submenu-item"><a href="#">이상준교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">김장형교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">안기중교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">변상용교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">곽호영교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">송왕철교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">변영철교수님</a></li>
                  <li class="submenu-item info_share_submenu-item"><a href="#">김도현교수님</a></li>
                </ul>
            </li>
              <li class="submenu"><a href="{% url 'Unknown_post'%}">익명 게시판</a></li>
          </ul>
      </nav>
  </aside>

  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  <script type="text/javascript">
     var labInfo = document.querySelector('.lab_info');
     var infoShare = document.querySelector('.info_share');

     var labInfoSubItems = document.querySelectorAll('.lab_info_submenu-item');
     var infoShareItems = document.querySelectorAll('.info_share_submenu-item');

     labInfo.addEventListener('mouseover',function(e){

       for(var i = 0; i < labInfoSubItems.length; i++){
         labInfoSubItems[i].style.height = "auto"
       }

         labInfo.addEventListener('mouseout',showOutItems);
     },false);

     infoShare.addEventListener('mouseover',function(e){

       for(var i = 0; i < infoShareItems.length; i++){
         infoShareItems[i].style.height = "auto"
       }

         infoShare.addEventListener('mouseout',showOutItemsP);
     });

     function showOutItems(e){
       for(var i = 0; i < labInfoSubItems.length; i++){
         labInfoSubItems[i].style.height = "0px"
       }
     }

     function showOutItemsP(e){
       for(var i = 0; i < infoShareItems.length; i++){
         infoShareItems[i].style.height = "0px"
       }
     }



  </script>
</div>
</body>
</html>
