{% extends 'mainWeb/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}


{% block content %}
<div>
  <img src="{% static 'img/photo.jpeg' %}" alt="#">
</div>
<div class="link">
  <h2>바로가기</h2>
  <ul>
    <li><a href="#">제주대학교 홈페이지</a></li>
    <li><a href="#">제주대학교 하영드리미</a></li>
    <li><a href="#">제주대학교 이러닝센터</a></li>
    <li><a href="#">한국장학재단</a></li>
  </ul>
</div>
<div class="new_post">
  <h2>NEW</h2>
  asdfsadfasdfasdf
  asdfasdsadsdaf
</div>
<div class="best_post">
  <h2>BEST</h2>
  asdfasdfadfasfasdasgasgasfd
</div>


{% endblock %}
