{% extends 'mainWeb/base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
    div.info-wrapper{
        margin-top: 10rem;
        display: flex;
        flex-wrap: wrap;
    }
    div.info{
        flex:0 0 50%;
        padding: 10px;
        height:180px;
        border: 1px solid darkblue;
    }

    a.link{
        text-align: center;
    }
    </style>

{% endblock %}

{%  block content %}
    <div class="info-wrapper">
    {% block list %}

    {% endblock %}
    </div>
{% endblock %}