{% extends 'mainWeb/base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
    div.info-wrapper h1{
      width: 100%;
      height: 9%;
      padding-top: 1.5rem;
      background: #2457DB;
      color: #fff;
      border-bottom: 3px solid #000;
      text-align: center;
    }
    div.info-wrapper{
      width: 100%;
      height: 91%;
      display: flex;
      flex-wrap: wrap;
    }
    div.info{
      flex:0 0 50%;
      padding: 0.833rem;
      height:25%;
      border-bottom: 3px solid #000;
    }
    .info ul{
      text-align: center;
      padding: 1.667rem 0;
    }
    .info ul li{
      display: inline-block;
    }
    .info ul li a{
      padding: 1.667rem;
      font-size: 1.2rem;

    }
    a.link{
        text-align: center;
    }
    .info img{
      width: 10rem;
      height: 12.5rem;
    }
    .info h3{
      padding-top: 1rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
    }
    .info p{
      text-align: center;
      font-size: 1.2rem;
      padding: 0.417rem 0;
    }
    </style>

{% endblock %}

{%  block content %}
    <div class="info-wrapper">
    {% block list %}

    {% endblock %}
    </div>
{% endblock %}
