<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form  action="{% url 'message' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <select name="receiveUser">
      {% for user in users %}
      <option value="{{ user.user_name }}">{{ user.user_name }}</option>
      {% endfor %}
    </select>

    <button class="upload" type="submit" name="button">업로드</button>
  </form>

</body>
</html>
