*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.lab-title {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid pink;
  color: pink;
  padding : 5px 20px;
  border-radius: 20px;
}

.lab-title h1 {
  color: pink;
  text-decoration: none;
}

.lab-intro {
  margin : 10px;
}

.lab-content-first, .lab-content-third {
  line-height: 30px;
}

.lab-content-first h2 {
  color : orange;
}

.lab-explain {
  border-bottom: 1px solid pink;
}

.lab-content-second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 10px 5%;
  border: 1px solid pink;
  padding : 5px 20px;
  border-radius: 20px;
}

.professor, .lab-part {
  height: 300px;
  padding: 0px 5%;
}

.professor, .lab-part p {
  font-weight: bold;
  font-size: 22px;
}

.part {
  list-style-type: none;
}
