*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.profe-title {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid pink;
  color: pink;
  padding : 5px 20px;
  border-radius: 20px;
}

.profe-title h1 {
  color: pink;
  text-decoration: none;
}

.profe-intro {
  margin : 10px;
}

.profe-intro h2 {
  color: orange;
}

.profe-explain {
  display: flex;
}

.profe-photo, .profe-text {
  margin : 5px;
  display: grid;
  align-items: center;
}
