*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.profe-title {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  padding : 5px 20px;
  border-radius: 20px;
}

.profe-title h1 {
  color: #2457BD;
  font-size: 2rem;
  text-decoration: none;
}

.profe-intro {
  margin : 10px;
}

.profe-intro h2 {
  color: orange;
}

.profe-explain {
  display: flex;
}

.profe-photo, .profe-text {
  margin : 5px;
  display: grid;
  align-items: center;
}
