*{
  margin: 0;
  padding: 0;
}

#topMenu{
  height: 30px;
  width: auto;
  display: block;
  margin-top: 0px;
}

#topMenu ul li{
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}
#topMenu .menulink{
  text-decoration:none;
  color: white;
  display: inline-block;
  width : 100%;
  font-size: 12px;

  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}
#topMenu .menulink:hover {
  color: pink;
  background-color: #4d4d4d;
}
.page-header {
  background-color: #ffe400;
  margin-top: 0;
  padding: 40px 40px 40px 40px;
  text-align: center;
  width:
}
.page-header h1, a {
  color: #000000;
  font-size: 36pt;
  text-decoration: none;
}
ul {margin: 0; padding: 0; width: auto; display: block;}
li {display: block; width: 20%;}

footer {border: 1px solid grey}
