{% extends 'mainWeb/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/lab_intro.css' %}">
{% endblock %}
{% block content %}
  <div class="lab-title">
    <h1>지능형 시스템 연구실 (Intelligence Systems)</h1>
  </div>
  <div class="lab-intro">
    <div class="lab-content-first">
      <div class="lab-explain">
        <h2>연구실 소개</h2>
        <p>내 집 같은 연구실, 자유롭고 편안한 면학분위기, 최적의 환경에서 이루어지는 실용성 중심의 연구!! 제주대학교 컴퓨터공학전공 지능형 시스템 연구실은 이상준 교수님을 중심으로 현재까지 1명의 박사와 10명의 석사를 배출하였으며 졸업생들과 재학생들은 현재 이 시간에도 대학 교수 및 각 기업 연구소등에서 자신의 역량을 100%을 발휘하며 전공 분야 발전에 커다란 기여를 하고 있습니다.</p>
      </div>
      <p>본 연구실은..</p>
      <p>-대량의 다양한 데이터를 얼마나 효율적으로 관리하는가?</p>
      <p>-어떻게 하면 컴퓨터에게 지능과 자율성을 주어 컴퓨터로부터 사람이 자유로워질 수 있게 하는가?</p>
      <p>이와 같은 문제 제기를 시작으로 모든 응용분야의 지능화 및 최적화에 관련된 연구를 목표로 하고 있습니다.</p>
    </div>
    <div class="lab-content-second">
      <div class="professor">
        <p>지도교수 : 이상준교수님</p>
        <div class="prof-photo">
          <img src="static/img/professor.jpg"  alt="">
        </div>
      </div>
      <div class="lab-part">
        <p>관심분야</p>
        <ul class="part">
          <li>시멘틱 웹</li>
          <li>감성 공학</li>
          <li>전문가 시스템</li>
          <li>지능적 스케쥴링 시스템</li>
          <li>추론</li>
          <li>패턴인식</li>
          <li>데이터 베이스</li>
          <li>알고리즘</li>
        </ul>
      </div>
    </div>
    <div class="lab-content-third">
      <h2>이런 사람이 잘 맞아요!!</h2>
      <p>데이터베이스 분야에 관심있는 학생</p>
      <p>스케쥴링 및 여러 응용분야에 관심있는 학생</p>
      <p>지능형시스템분야에 관심있는 학생</p>
      <p>알고리즘 분야에 관심있는 학생</p>
    </div>
  </div>
{% endblock %}
