{% extends 'mainWeb/base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
        div.me-wrapper{
            margin-top: 10rem;
            margin-left: 2rem;
        }

        div.profile{
            padding-bottom: 100%;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="me-wrapper">
        <div class="profile" s>
            <img src="{% static 'img/profile_default.png' %}"  alt="" >
        </div>

        <ul>
            <li>
                이름 : 허지원
            </li>
            <li>
                아이디 : llkjop24
            </li>
            <li>
                <input type="text">
            </li>
        </ul>
    </div>

{% endblock %}
