{% extends 'mainWeb/base.html' %}
{% load staticfiles %}


{% block head %}
    <style>
        h2.title{
          text-align: center;
          margin-top: 10rem;
        }
        div.me-wrapper{
            display: flex;

        }

        div.profile{
            width: 50%;
        }

        div.table-wrapper{
          flex: 0 0 50%;
        }

        table.type05 {
          border-collapse: separate;
          border-spacing: 1px;
          text-align: left;
          line-height: 1.5;
          border-top: 1px solid #ccc;
          margin-top: 30px;
          width:100%;
          padding-right: 15px;
        }
        table.type05 th {
          width: 150px;
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
          background: #efefef;
        }
        table.type05 td {
          width: 350px;
          padding: 10px;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
        }

        a.Modify {
          float: right;
          margin:10px 10px
        }

        a.changeimg{
          text-align: center;
          display:block;
        }

        img.profileimg{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .me-wrapper{
          height: 300px;
        }

        .message_title {
          text-align: center;
        }

        .table {
          margin-left: 20px;
          margin-right: 20px;
          border-right: 1px solid #000;
        }

        .my-page-table-head ul{
          display: flex;
          flex-flow: row;
          text-align: center;
        }

        .my-page-table-body ul{
          display: flex;
          flex-flow: row;
          text-align: center;
        }

        .my-page-table-head ul li{
          display: flex;
          flex-flow: column;
          justify-content: center;
          background-color: rgb(112, 196, 105);
          width: 25%;
          height: 30px;
          border-top: 1px solid #000;
          border-left: 1px solid #000;
        }

        .my-page-table-body ul li{
          display: flex;
          flex-flow: column;
          justify-content: center;
          width: 25%;
          height: 30px;
          border-bottom: 1px solid #000;
          border-left: 1px solid #000;
        }

    </style>

{% endblock %}

{% block content %}
  <h2 class="title">마이페이지</h2>
    <div class="me-wrapper">

        <div class="profile" >
            <img class="profileimg" src="{% static 'img/profile_default.png' %}"  alt="" >
            <a class="changeimg" href="">사진바꾸기</a>
        </div>
        <div class="table-wrapper">
          <table class="type05">
            <tr>
              <th class>이름</th>
              <td>{{ user.user_name }}</td>
            </tr>
            <tr>
              <th>이메일</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th>전화번호</th>
              <td>{{ user.phone_num }}</td>
            </tr>
            <tr>
              <th>학번</th>
              <td>{{ user.school_num }}</td>
            </tr>
          </table>
          <a class="Modify" href="#">회원정보수정</a>
        </div>
      </div>
      <h2 class="message_title">쪽지</h2>
      <div class="table">
          <div class="my-page-table-head">
              <ul>
                <li>제목</li>
                <li>내용</li>
                <li>작성날짜</li>
                <li>보낸이</li>
                <li>받는이</li>
              </ul>
          </div>
          <div class="my-page-table-body">
              {% for message in messages %}
              <ul>
                <li>{{ message.title }}</li>
                <li>{{ message.content }}</li>
                <li>{{ message.created_date }}</li>
                <li>{{ message.senderUser }}</li>
                <li>{{ message.recieveUser }}</li>
              </ul>
              {% endfor %}
          </div>
      </div>

      <div class="pagination">
      <span class="step-links">
          {% if messages.has_previous %}
              <a href="?page={{ messages.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
          </span>

          {% if messages.has_next %}
              <a href="?page={{ messages.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>

{% endblock %}
