{% extends 'mainWeb/base.html' %}
{% load staticfiles %}


{% block head %}
    <style>
        h2.title{
          text-align: center;
          margin-top: 10rem;
          margin-left: 2rem;
        }
        div.me-wrapper{
            display: flex;

        }

        div.profile{
            padding-bottom: 100%;
            width: 50%;
        }

        div.table-wrapper{
          flex: 0 0 50%;
        }

        table.type05 {
          border-collapse: separate;
          border-spacing: 1px;
          text-align: left;
          line-height: 1.5;
          border-top: 1px solid #ccc;
          margin-top: 30px;
          width:100%;
          padding-right: 15px;
        }
        table.type05 th {
          width: 150px;
          padding: 10px;
          font-weight: bold;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
          background: #efefef;
        }
        table.type05 td {
          width: 350px;
          padding: 10px;
          vertical-align: top;
          border-bottom: 1px solid #ccc;
        }

        a.Modify {
          float: right;
          margin:10px 10px
        }

        a.changeimg{
          text-align: center;
          display:block;
        }

        img.profileimg{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }



    </style>

{% endblock %}

{% block content %}
  <h2 class="title">마이페이지</h2>
    <div class="me-wrapper">

        <div class="profile" >
            <img class="profileimg" src="{% static 'img/profile_default.png' %}"  alt="" >
            <a class="changeimg" href="">사진바꾸기</a>
        </div>
        <div class="table-wrapper">
          <table class="type05">
              <tr>
                <th class>이름</th>
                <td>허지원</td>
              </tr>
              <tr>
                <th>이메일</th>
                <td>llkjop24@gmail.com</td>
              </tr>
              <tr>
                <th>전화번호</th>
                <td>01028889433</td>
              </tr>
              <tr>
                <th>학번</th>
                <td>13학번</td>
              </tr>
          </table>
          <a class="Modify" href="#">회원정보수정</a>
        </div>
      </div>
{% endblock %}
