{% extends 'mainWeb/member.html' %}
{% load staticfiles %}

{% block list %}
<h1>정 보 나 눔 터</h1>
    <div class="info">
            <img src="{% static 'img/Professor.jpg' %}" alt="" align="left">
            <h3>이 상 준 교 수 님</h3><br>
            <p>지능형시스템 연구실(D425)</p>
            <ul>
              <li><a class="link" href="{% url 'GGul_tip' pr='이상준' %}">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
    </div>
    <div class="info">
            <img src="{% static 'img/pf_kim.jpg' %}" alt="" align="left">
            <h3>김 장 형 교 수 님</h3><br>
            <p>멀티미디어 연구실(D403)</p>
            <ul>
              <li><a class="link" href="{% url 'GGul_tip' pr='김장형' %}">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>

    </div>
    <div class="info">
            <img src="{% static 'img/pfan.jpg' %}" alt="" align="left">
            <h3>안 기 중 교 수 님</h3><br>
            <p>정보통신 연구실(D430)</p>
            <ul>
              <li><a class="link" href="">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
      </div>
    <div class="info">
            <img src="{% static 'img/pf_kwak.jpg' %}" alt="" align="left">
            <h3>곽 호 영 교 수 님</h3><br>
            <p>시스템소프트웨어 연구실(D419)</p>
            <ul>
              <li><a class="link" href="">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
    </div>
    <div class="info">
            <img src="{% static 'img/pf_Bbyun.jpg' %}" alt="" align="left">
            <h3>변 상 용 교 수 님</h3><br>
            <p>소프트웨어공학 연구실(D404)</p>
            <ul>
              <li><a class="link" href="">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
        </div>
        <div class="info">
            <img src="{% static 'img/pf_song.jpg' %}" alt="" align="left">
            <h3>송 왕 철 교 수 님</h3><br>
            <p>네트웤컨버전스 연구실(D428)</p>
            <ul>
              <li><a class="link" href="">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
        </div>
        <div class="info">
            <img src="{% static 'img/pf_byun.jpg' %}" alt="" align="left">
            <h3>변 영 철 교 수 님</h3><br>
            <p>머신러닝 연구실(D407)</p>
            <ul>
              <li><a class="link" href="">꿀팁</a></li>
              <li><a class="link" href="">레포트</a></li>
            </ul>
        </div>
        <div class="info">
             <img src="{% static 'img/pf_skim.jpg' %}" alt="" align="left">
             <h3>김 도 현 교 수 님</h3><br>
             <p>모바일컴퓨팅 연구실(D409)</p>
             <ul>
               <li><a class="link" href="">꿀팁</a></li>
               <li><a class="link" href="">레포트</a></li>
             </ul>
        </div>
{% endblock %}
