{% extends 'mainWeb/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profe_intro.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="profe-title">
    <h1>교수님 소개 (Professor Introduce)</h1>
  </div>
  <div class="profe-intro">
    <h2>이상준 교수님</h2>
    <div class="profe-explain">
      <div class="profe-photo">
        <img src="{% static 'img/Professor.jpg' %}"  alt="">
      </div>
      <div class="profe-text">
        <p>연구실 : D426</p>
        <p>국내 전화번호 : 064-754-3655</p>
        <p>국제 전화번호 : +82-64-754-3655</p>
        <p>E-mail : sjlee@jejunu.ac.kr</p>
        <p>Homepage : </p>
        <p>세부전공 : 지능형시스템</p>
      </div>
    </div>
    <div class="profe-career">
      <h2>경력 및 논문</h2>
      <h4>학력</h4>
      <ul>
        <li>중앙대학교 컴퓨터공학과</li>
        <li>중앙대학교 석사</li>
        <li>중앙대학교 박사</li>
      </ul>
      <h4>경력</h4>
      <ul>
        <li>제주대학교 전임교원 최초 임용일 : 1993. 3. 1</li>
        <li>SDS 개발담당</li>
      </ul>
      <h4>주요논문</h4>
      <ul>
        <li>1. 이상준,이종헌,김영민, "디지털 맵에서의 동적 환경적응형 차량항법 알고리즘", 한국인터넷정보학회, 인터넷정보학회논문지, Vol.3, No.6, pp.35-41, 2002.12.</li>
        <li>2. 이상준,김영민, "제목내의 키워드 역할정보를 이용한 연구논문 검색 시스템", 제주대학교첨단기술연구소, 제주대학교첨단기술연구소논문집, 제13권 2호, pp.99-104, 2002.12.</li>
        <li>3. 이상준,강남호,박충희, "전문지식을 기반으로 한 지능형 운동처방 시스템", 제주대학교첨단기술연구소, 제주대학교첨단기술연구소논문집, 제13권 2호, pp.105-110, 2002.12.</li>
        <li>4. 이상준,김영민, "시맨틱을 이용한 연구논문 검색 시스템", 한국인터넷정보학회, 한국인터넷정보학회논문집, 4권 3호, pp.15-22, 2003.6.30.</li>
        <li>5. 이상준,문남원,박충희,김영민, "프랙탈이론을 이용한 게시판 알고리즘의 설계 및 구현", 제주대학교공과대학 첨단기술연구소, 첨단기술연구소 논문지, 14권 1호, pp.101-108, 2003.6.30.</li>
        <li>6. 이상준,변영철,김영민,홍영보, "역전파 신경망을 이용한 Kornet 사용자 질의 메일 자동분류에 관한 연구", 제주대학교공과대학 첨단기술연구소, 첨단기술연구소 논문집, 14권 1호, pp.147-155, 2003.6.30.</li>
        <li>7. 이상준,김영민, "시간독립적인 사용자 요구형 정보 서비스 시스템 연구", 제주대학교공과대학 첨단기술연구소, 첨단기술연구소 논문집, 14권 1호, pp.115-120, 2003.6.30.</li>
        <li>8. 이상준,변영철,정은경, "다중장치지원 모바일 응용서버 설계", 제주대학교공과대학 첨단기술연구소, 첨단기술연구소 논문집, 14권 1호, pp.121-126, 2003.6.30.</li>
        <li>9. 이상준,박충희,도양회, "RDBMS를 이용한 XML 문서저장 시스템설계", 제주대학교공과대학 첨단기술연구소, 첨단기술연구소 논문집, 14권 1호, pp.109-114, 2003.6.30.</li>
        <li>10. 이상준,김영민,정은경,변영철,도양회, "행정구역 온톨로지를 이용한 관광정보검색", 제주대학교 기초과학연구소, 기초과학연구, 16권 2호, pp.101-110, 2003.12.</li>
        <li>11. 이상준,도양회,박세준, "주파수영역 결합변환 상관기의 위상특성을 고려한 광 암호화 시스템", 제주대학교 공과대학 첨단기술연구소, 첨단기술연구소논문지, 14권 2호, pp.134-143, 2003.12.</li>
        <li>12. 이상준,정은경,김영민,변영철,박경린, "시맨틱웹 환경에서의 온톨로지 기반의 정보검색", 제주대학교 기초과학연구소, 기초과학연구, 16권 2호, pp.111-116, 2003.12.</li>
        <li>13. 이상준,송재경,김도현, "온톨로지 매핑정보를 이용한 웹서비스 자동발견", 제주대학교 첨단기술연구소, 첨단기술연구소 논문집, 15권 2호, pp.151-157, 2004.12.</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
