{% load staticfiles %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
  <title>경하하하하</title>
</head>
<body>
    <div class="sidemenu">
      <h1>좋은 425</h1>
      <nav>
        <ul>
          <li>쪽지</li>
          <li>마이페이지</li>
          <li>로그아웃</li>
        </ul>
      </nav>
      <ul>
        <li><a href="">교수님 소개</a></li>
        <li>
          <a href="">연구실 소개</a>
          <ul>
            <li><a href="">연구원 소개</a></li>
            <li><a href="">위치</a></li>
          </ul>
        </li>
        <li>
          <a href="">정보 나눔터</a>
          <ul>
            <li><a href="">이상준교수님</a></li>
            <li><a href="">김장형교수님</a></li>
            <li><a href="">안기중교수님</a></li>
            <li><a href="">곽호영교수님</a></li>
            <li><a href="">변상용교수님</a></li>
            <li><a href="">송왕철교수님</a></li>
            <li><a href="">변영철교수님</a></li>
            <li><a href="">김도현교수님</a></li>
          </ul>
        </li>
        <li><a href="">익명 게시판</a></li>
      </ul>
    </div>
    <div class="photo">
      <img src="/static/img/photo.jpeg" alt="">
    </div>
    <div id=""></div>


  <div class="content container">
    {% block content %}
    {% endblock %}

  </div>

</body>
</html>
