*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.lab-title {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  padding : 5px 20px;
  border-radius: 20px;
}

.lab-title h1 {
  color: #2457BD;
  font-size: 2rem;
  text-decoration: none;
}

.lab-intro {
  margin : 10px;
}

.lab-content-first, .lab-content-second {
  line-height: 30px;
}

.lab-content-first h2, .lab-content-second h2{
  color : orange;
}

.lab-location {
  display: flex;
  height: 270px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  background-image: url("http://wcms.jejunu.ac.kr/storages/20070209201620806914/20070219185959656399/map2016.jpg");
  background-size: 100% 100%;
}
