*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.profe-title {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  padding : 5px 20px;
  border-radius: 20px;
}

.profe-title h1 {
  color: #2457BD;
  font-size: 2rem;
  text-decoration: none;
}

.profe-intro {
  margin : 10px;
}

.toggle_button {
    cursor:pointer;
    display:block;
    background-color: white;
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}

#toggle_button,
#toggle_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}
#toggle_button:checked + #toggle_contents {
    height:auto;
    position:relative;
    padding:10px;
}

.profe-explain {
  display: flex;
}

.profe-photo, .profe-text {
  margin : 5px;
  display: grid;
  align-items: center;
}
